/* Sets position and center of Bored logo image */
.img-logo {
  margin-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.select {
  border-color: gray;
  border-width: 5px;
  font-size: 40px;
  font-family: 'Londrina Solid';
  font-weight: bold;
}

.button {
  border-color: gray;
  background-color: black;
  border-width: 5px;
  font-size: 40px;
  color: white;
  font-family: 'Londrina Solid';
  font-weight: bold;
  align-self: center;
}